body {
    background: linear-gradient(to right, #e0c3fc, #8ec5fc);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    max-width: 600px;
    max-height: 80vh;

    border-radius: 1rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.hidden {
    display: none;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
    user-select: none;
}